{% extends "navbar.html" %}

{% block content %}
<div class="my=about" >
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">This is a stock analyzing demo website which uses concept of Linear Regression built on Django Framework.</p>
  <hr class="my-4">
  <p>My name is <strong>NEEL BHAGAT</strong>.I am a second year student of Vivekand Institute Of Technology ,Mumbai</p>
  <p>Email: neelnb11@gmail.com</p>
  <p>Mobile number-8291597204</p>
</div>
</div>
{% endblock %}

