{% extends "navbar.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row main-content">
    <div class="col-md-4 main-info">
      <ul>
        <li>We perform Web-Scrapping to get current Top Nifty-50 companies.</li>
        <li>We Web-Scrap past years stock prices data of company.</li>
        <li>We analyze the stock prices of company.</li>
        <li>We predict the closing  stock price of the company.</li>
      </ul>
      <a href="/analyse" class="btn btn-primary main-button">Analyze Now</a>
    </div>
    <div class="col-md-8 main-img">
      <img src="/static/stock-main-page.svg" alt="Stock Analyses Image" style="width:80%">
    </div>
  </div>
</div>
{% endblock %}


